<%- include('../layout/admin/header.ejs' , {title:'Genres'}) %>
<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Genres</h2>

                    <span class="main__title-stat">0 Total</span>
                    <div class="main__title-wrap">
                    <form action="genres/add/?_csrf=<%= csrfToken %>" method="post" class="main__title-form">
                        <input type="text" name="title" placeholder="Genre Title" required >
                        <button type="submit">
                            <i class="icon ion-ios-add-circle
                            "></i>
                        </button>
                    </form>
                </div>
                </div>
            </div>
            <!-- end main title -->

            <!-- users -->
            <div class="col-12">
                <div class="main__table-wrap">
                    <table class="main__table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>TITLE</th>
                                <th>Movies</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% genres.forEach((genre)=>{ %>
                            <tr>
                                <td>
                                    <div class="main__table-text"><%= genre.id %></div>
                                </td>
                                <td>
                                    <div class="main__table-text"><%= genre.title %></div>
                                </td>
                                <td>
                                    <div class="main__table-text ">0</div>
                                </td>
                                <td>
                                    <div class="main__table-btns">
                                        <a href="#modal-edit" class="main__table-btn main__table-btn--edit open-modal" link="genres/edit/<%= genre.id %>" onclick="function setAction(){document.querySelector('.edit').action =getAttribute('link')}setAction()">
                                            <i class="icon ion-ios-create"></i>
                                        </a>
                                        <a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" link="genres/delete/<%= genre.id %>" onclick="function setAction(){document.querySelector('.delete').action =getAttribute('link')}setAction()">
                                            <i class="icon ion-ios-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end users -->
           
        </div>
    </div>
</main>
<!-- end main content -->

<!-- modal delete -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Item delete</h6>

    <p class="modal__text">Are you sure to permanently delete this item?</p>

    <div class="modal__btns">
        <form action="#" class="delete" id="delete" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <button class="modal__btn modal__btn--apply" type="submit" form="delete">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal delete -->

<!-- modal edit -->
<div id="modal-edit" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Item edit</h6>
    <form action="#" class="edit" id="edit" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input class="form__input" type="text" name="title" required placeholder="enter updated title" >
    </form>
    <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="submit" form="edit">Edit</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal delete -->
<% if (Object.keys(messages).length > 0) { %>
    <script src="/js/swal.js"></script>
    <script>
      <% if (messages.error) { %>
       swal("Something is Wrong", "<%- messages.error %>", "error");
       <% } %>
       <% if (messages.success) { %>
        swal("Success", "<%- messages.success[0] %>", "success");
        <% } %>
    </script>
    <% } %>
<!-- JS -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>