<%- include('../layout/header') %>

<!-- details -->
<section class="section details">
  <!-- details background -->
  <div class="details__bg" data-bg="/img/home/home__bg.jpg"></div>
  <!-- end details background -->

  <!-- details content -->
  <div class="container">
    <div class="row">
      <!-- title -->
      <div class="col-12">
        <h1 class="details__title"><%= movie.title %></h1>
      </div>
      <!-- end title -->

      <!-- content -->
      <div class="col-12 col-xl-6">
        <div class="card card--details">
          <div class="row">
            <!-- card cover -->
            <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
              <div class="card__cover">
                <img src="/img/covers/<%= movie.id %>.png" alt="" />
              </div>
            </div>
            <!-- end card cover -->

            <!-- card content -->
            <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
              <div class="card__content">
                <div class="card__wrap">
                  <span class="card__rate"><i class="icon ion-ios-star"></i><%= movie.rate %></span>

                  <ul class="card__list">
                    <li>HD</li>
                    <li>16+</li>
                  </ul>
                </div>

                <ul class="card__meta">
                  <li>
                    <span>Genre:</span>
                    <% movie.genres.split(',').forEach((genre)=>{ %>
                    <a href="#"><%= genre %></a>
                    <% }) %> 
                  </li>

                  <li><span>Release year:</span> <%= movie.year %></li>
                  <li><span>Running time:</span> <%= movie.duration %></li>
                  <li><span>Country:</span> <a href="#"><%= movie.country %></a></li>
                </ul>

                <div class="card__description card__description--details"><%= movie.description %></div>
              </div>
            </div>
            <!-- end card content -->
          </div>
        </div>
      </div>
      <!-- end content -->

      <!-- player -->
      <div class="col-12 col-xl-6">
        <video controls crossorigin="use-credentials" playsinline poster="/img/posters/<%= movie.id %>.png" id="player">
          <track kind="captions" label="Arabic" srclang="ar" src="/sub/<%= movie.id %>" default />
        </video>
      </div>
      <!-- end player -->

      <div class="col-12">
        <div class="details__wrap">
          <!-- availables -->
          <div class="details__devices">
            <span class="details__devices-title">Available on devices:</span>
            <ul class="details__devices-list">
              <li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
              <li><i class="icon ion-logo-android"></i><span>Android</span></li>
              <li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
              <li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
            </ul>
          </div>
          <!-- end availables -->

          <!-- share -->
          <div class="details__share">
            <span class="details__share-title">Share with friends:</span>

            <ul class="details__share-list">
              <li class="facebook">
                <a href="#"><i class="icon ion-logo-facebook"></i></a>
              </li>
              <li class="instagram">
                <a href="#"><i class="icon ion-logo-instagram"></i></a>
              </li>
              <li class="twitter">
                <a href="#"><i class="icon ion-logo-twitter"></i></a>
              </li>
              <li class="vk">
                <a href="#"><i class="icon ion-logo-vk"></i></a>
              </li>
            </ul>
          </div>
          <!-- end share -->
        </div>
      </div>
    </div>
  </div>
  <!-- end details content -->
</section>
<!-- end details -->

<!-- content -->
<section class="content">
  <div class="content__head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- content title -->
          <h2 class="content__title">Discover</h2>
          <!-- end content title -->

          <!-- content tabs nav -->
          <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Photos</a>
            </li>
          </ul>
          <!-- end content tabs nav -->

          <!-- content mobile tabs nav -->
          <div class="content__mobile-tabs" id="content__mobile-tabs">
            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Photos</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end content mobile tabs nav -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-8">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
            <!-- project gallery -->
            <div class="gallery" itemscope>
              <div class="row">
                <% for(let i = 0 ; i < screenshots.length ; i++){ %> <% if(i == 0 || i == 1){continue;} %>
                <!-- gallery item -->
                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                  <a href="/img/screenshots/<%= movie.id %>/<%= screenshots[i] %>" itemprop="contentUrl" data-size="1920x1280">
                    <img src="/img/screenshots/<%= movie.id %>/<%= screenshots[i] %>" itemprop="thumbnail" alt="Image description" />
                  </a>
                  <figcaption itemprop="caption description"><%= movie.title %></figcaption>
                </figure>
                <!-- end gallery item -->
                <% } %>
              </div>
            </div>
            <!-- end project gallery -->
          </div>
        </div>
        <!-- end content tabs -->
      </div>

      <!-- sidebar -->
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="row">
          <!-- section title -->
          <div class="col-12">
            <h2 class="section__title section__title--sidebar">You may also like...</h2>
          </div>
          <!-- end section title -->
          <% relates.forEach((movie)=>{ %>
          <!-- card -->
          <div class="col-6 col-sm-4 col-lg-6">
            <div class="card">
              <div class="card__cover">
                <img src="/img/covers/<%= movie.id %>.png" alt="" />
                <a href="/movie/<%= movie.id %>" class="card__play">
                  <i class="icon ion-ios-play"></i>
                </a>
              </div>
              <div class="card__content">
                <h3 class="card__title"><a href="/movie/<%= movie.id %>"><%= movie.title %></a></h3>
                <span class="card__rate"><i class="icon ion-ios-star"></i><%= movie.rate %></span>
              </div>
            </div>
          </div>
          <!-- end card -->
          <% }) %>
        </div>
      </div>
      <!-- end sidebar -->
    </div>
  </div>
</section>
<!-- end content -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe. 
		It's a separate element, as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">
    <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
    <!-- don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <!--  Controls are self-explanatory. Order can be changed. -->

        <div class="pswp__counter"></div>

        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

        <!-- Preloader -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

<!-- JS -->
<%- include('../layout/footer') %>
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.js"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
<link href="https://unpkg.com/video.js@6.4.0/dist/video-js.css" rel="stylesheet" />
<script src="https://unpkg.com/video.js@6.4.0/dist/video.js"></script>
<script src="https://unpkg.com/videojs-flash@2.0.1/dist/videojs-flash.js"></script>
<script src="https://unpkg.com/videojs-contrib-hls@5.12.2/dist/videojs-contrib-hls.js"></script>
<script>
  const video = document.querySelector("video");
  document.addEventListener("DOMContentLoaded", () => {
    const source = "<%= url %>/movie/master/<%= movie.id %>";
    if (!Hls.isSupported()) {
      el = document.createElement("source");
      el.src = source;
      el.type = "application/x-mpegURL";
      video.appendChild(el);
      video.className = "video-js";
      const player = videojs(video, {
        html5: {
          hls: {
            overrideNative: false,
          },
        },
      });
      player.on("play", () =>{
        player.requestFullscreen()
      });

    } else {
      const player = new Plyr(video, { settings: ["captions"], captions: { active: false, update: true, language: "ar" } });
      const hls = new Hls({ autoStartLoad: false });
      hls.loadSource(source);
      hls.attachMedia(video);
      video.onplay = () => {
        hls.startLoad((startPosition = -1));
      };
      player.on("languagechange", () => {
        setTimeout(() => (hls.subtitleTrack = player.currentTrack), 50);
      });
    }
  });
</script>
