<%- include('../layout/header.ejs') %>
<!-- page title -->
<section class="section section--first section--bg" data-bg="/img/section/section.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">
          <!-- section title -->
          <h2 class="section__title">Plans</h2>
          <!-- end section title -->

          <!-- breadcrumb -->
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a href="/">Home</a></li>
            <li class="breadcrumb__item breadcrumb__item--active">Pricing</li>
          </ul>
          <!-- end breadcrumb -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->
<% if (Object.keys(messages).length > 0) { %>
<script src="/js/swal.js"></script>
<script>
   <% if (messages.error) { %>
    swal("Something is Wrong", "<%- messages.error %>", "error");
    <% } %>
    <% if (messages.success) { %>
     swal("Success", "<%- messages.success[0] %>", "success");
     <% } %>
  <% if (messages.warning) { %>
  	swal("warning", "<%- messages.warning[0] %>", "warning");
  <% } %>
</script>
<% } %>
<!-- pricing -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- plan features -->
      <div class="col-12">
        <ul class="row plan-features">
          <li class="col-12 col-md-6 col-lg-4">1 month unlimited access!</li>
          <li class="col-12 col-md-6 col-lg-4">Stream on your phone, laptop, tablet or TV.</li>
          <li class="col-12 col-md-6 col-lg-4">High Quality Support</li>
          <li class="col-12 col-md-6 col-lg-4">Thousands of TV shows, movies & more.</li>
          <li class="col-12 col-md-6 col-lg-4">You can even Download & watch offline.</li>
          <li class="col-12 col-md-6 col-lg-4">Thousands of Premier Content.</li>
        </ul>
      </div>
      <!-- end plan features -->

      <% plans.forEach((plan)=>{ %>
      <!-- price -->
      <% if (plan.type == 'Basic'){ %> <% return %> <% } %>
      <div class="col-12 col-md-6 col-lg-4" style="margin: 0 auto">
        <div class="price">
          <div class="price__item price__item--first"><span><%= plan.type %></span><span><%= plan.price %> $ </span></div>
          <% if (plan.type == 'Premium'){ %>
          <div class="price__item"><span>1 Month</span></div>
          <div class="price__item"><span>720p HD</span></div>
          <div class="price__item"><span>Lifetime Availability</span></div>
          <div class="price__item"><span>TV & Desktop</span></div>
          <div class="price__item"><span>24/7 Support</span></div>
          <% }else if (plan.type == 'Cinematic'){ %>
          <div class="price__item"><span>1 Month</span></div>
          <div class="price__item"><span>1080p FHD</span></div>
          <div class="price__item"><span>Lifetime Availability</span></div>
          <div class="price__item"><span>Any Device</span></div>
          <div class="price__item"><span>24/7 Support</span></div>
          <% } %> <% if (!req.isAuthenticated()) { %>
          <a href="/plan/<%= plan.id %>" class="price__btn">CHOOSE PLAN</a>
          <% }else{ %> <% if (req.user.subscription.plan.type == plan.type ){ %><a
            href="/plan/<%= plan.id %>"
            class="price__btn"
            style="background-color: #2b2b31; background-image: unset; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15)"
            >Subscriped</a
          ><% }else{ %><a href="/plan/<%= plan.id %>" class="price__btn">CHOOSE PLAN</a> <% } %> <% } %>
        </div>
      </div>
      <!-- end price -->
      <% }) %>
    </div>
  </div>
</div>
<!-- end pricing -->

<!-- features -->
<section class="section section--dark">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12">
        <h2 class="section__title section__title--no-margin">Our Features</h2>
      </div>
      <!-- end section title -->

      <!-- feature -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-tv feature__icon"></i>
          <h3 class="feature__title">Ultra HD</h3>
          <p class="feature__text">
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          </p>
        </div>
      </div>
      <!-- end feature -->

      <!-- feature -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-film feature__icon"></i>
          <h3 class="feature__title">Film</h3>
          <p class="feature__text">
            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first.
          </p>
        </div>
      </div>
      <!-- end feature -->

      <!-- feature -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-trophy feature__icon"></i>
          <h3 class="feature__title">Awards</h3>
          <p class="feature__text">
            It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
          </p>
        </div>
      </div>
      <!-- end feature -->

      <!-- feature -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-notifications feature__icon"></i>
          <h3 class="feature__title">Notifications</h3>
          <p class="feature__text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
        </div>
      </div>
      <!-- end feature -->

      <!-- feature -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-rocket feature__icon"></i>
          <h3 class="feature__title">Rocket</h3>
          <p class="feature__text">
            It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
          </p>
        </div>
      </div>
      <!-- end feature -->

      <!-- feature -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-globe feature__icon"></i>
          <h3 class="feature__title">Multi Language Subtitles</h3>
          <p class="feature__text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
        </div>
      </div>
      <!-- end feature -->
    </div>
  </div>
</section>
<!-- end features -->

<%- include('../layout/footer.ejs') %>
