<%- include('../layout/header') %>

<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">
          <!-- section title -->
          <h2 class="section__title">My Profile</h2>
          <!-- end section title -->

          <!-- breadcrumb -->
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a href="/">Home</a></li>
            <li class="breadcrumb__item breadcrumb__item--active">Profile</li>
          </ul>
          <!-- end breadcrumb -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->

<!-- content -->
<div class="content">
  <!-- profile -->
  <div class="profile">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="profile__content">
            <div class="profile__user">
              <div class="profile__avatar">
                <img src="/img/user.svg" alt="" />
              </div>
              <div class="profile__meta">
                <h3><%= req.user.username %></h3>
                <span>ID: <%= req.user.id %></span>
              </div>
            </div>

            <!-- content tabs nav -->
            <ul class="nav nav-tabs content__tabs content__tabs--profile" id="content__tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Subscription</a>
              </li>
            </ul>
            <!-- end content tabs nav -->

            <!-- content mobile tabs nav -->
            <div class="content__mobile-tabs content__mobile-tabs--profile" id="content__mobile-tabs">
              <div
                class="content__mobile-tabs-btn dropdown-toggle"
                role="navigation"
                id="mobile-tabs"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <input type="button" value="Profile" />
                <span></span>
              </div>

              <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"
                      >Profile</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"
                      >Subscription</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- end content mobile tabs nav -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end profile -->

  <div class="container">
    <!-- content tabs -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
        <div class="row">
          <!-- details form -->
          <div class="col-12 col-lg-6">
            <form method="POST" class="profile__form">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="row">
                <div class="col-12">
                  <h4 class="profile__title">Profile details</h4>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="username">Username</label>
                    <input id="username" type="text" name="username" class="profile__input" placeholder="<%= req.user.username %>" disabled required/>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="email">Email</label>
                    <input
                      id="email"
                      type="text"
                      name="email"
                      class="profile__input"
                      placeholder="<%= req.user.email %>"
                      value="<%= req.user.email %>"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="firstname">First Name</label>
                    <input
                      id="firstname"
                      type="text"
                      name="firstname"
                      class="profile__input"
                      placeholder="<%= req.user.firstname %>"
                      value="<%= req.user.firstname %>"
                    />
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="lastname">Last Name</label>
                    <input
                      id="lastname"
                      type="text"
                      name="lastname"
                      class="profile__input"
                      placeholder="<%= req.user.lastname %>"
                      value="<%= req.user.lastname %>"
                    />
                  </div>
                </div>

                <div class="col-12">
                  <button class="profile__btn" type="submit">Save</button>
                </div>
              </div>
            </form>
          </div>
          <!-- end details form -->

          <!-- password form -->
          <div class="col-12 col-lg-6">
            <form action="/change-password" method="POST" class="profile__form">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="row">
                <div class="col-12">
                  <h4 class="profile__title">Change password</h4>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="oldpass">Old Password</label>
                    <input id="oldpass" type="password" name="oldpass" class="profile__input" required/>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="newpass">New Password</label>
                    <input id="newpass" type="password" name="newpass" class="profile__input" required/>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <div class="profile__group">
                    <label class="profile__label" for="confirmpass">Confirm New Password</label>
                    <input id="confirmpass" type="password" name="confirmpass" class="profile__input" required/>
                  </div>
                </div>

                <div class="col-12">
                  <button class="profile__btn" type="submit">Change</button>
                </div>
              </div>
            </form>
          </div>
          <!-- end password form -->
        </div>
      </div>

      <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
        <div class="row">
          <!-- price -->
          <div class="col-12 col-md-6 col-lg-4" style="margin: 0 auto">
            <div class="price">
              <div class="price__item price__item--first">
                <span><%= req.user.subscription.plan.type %></span
                ><span><% if (req.user.subscription.plan.price == 0){ %> Free <% }else{ %><%= req.user.subscription.plan.price %> $ <% } %></span>
              </div>
              <% if (req.user.subscription.plan.type == 'Basic'){ %>
              <div class="price__item"><span>Lifetime</span></div>
              <div class="price__item"><span>360p SD</span></div>
              <div class="price__item"><span>Limited Content</span></div>
              <div class="price__item"><span>Desktop Only</span></div>
              <div class="price__item"><span>Limited Support</span></div>
              <% }else if (req.user.subscription.plan.type == 'Premium'){ %>
              <div class="price__item"><span>1 Month</span></div>
              <div class="price__item"><span>720p HD</span></div>
              <div class="price__item"><span>Lifetime Availability</span></div>
              <div class="price__item"><span>TV & Desktop</span></div>
              <div class="price__item"><span>24/7 Support</span></div>
              <% }else if (req.user.subscription.plan.type == 'Cinematic'){ %>
              <div class="price__item"><span>1 Month</span></div>
              <div class="price__item"><span>1080p FHD</span></div>
              <div class="price__item"><span>Lifetime Availability</span></div>
              <div class="price__item"><span>Any Device</span></div>
              <div class="price__item"><span>24/7 Support</span></div>
              <% } %>
            </div>
          </div>
          <!-- end price -->
        </div>
      </div>
    </div>
    <!-- end content tabs -->
  </div>
</div>
<!-- end content -->

<%- include('../layout/footer') %>
